{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {% if app.user %}
    <div>
        <h2>Bonjour {{ app.user.pseudo }}</h2>
        <a href="{{ path('add_perso') }}">Créer un Personnage</a>
            {% if app.user.persos %}
                {% for perso in app.user.persos %}
                <a href="{{ path('edit_perso', {'id': perso.id}) }}">Édité {{perso.nom}}</a>
                {% endfor %}
            {% endif %}
        </div>
    {% else %}
    <a href="{{ path('app_login') }}">Veuillez être connecté pour créer un personnage</a>
    {% endif %}
{% endblock %}
