<header>
    <ul>
        <li><a href="{{ path('app_perso') }}">Mes personnages</a></li>
        <li><a href="{{ path('add_perso') }}">Crée un personnage</a></li>
        {% if app.user %}
            <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
        {% else %}
            <li><a href="{{ path('app_register') }}">S'inscrire</a></li>
            <li><a href="{{ path('app_login') }}">Se Connecter</a></li>
        {% endif %}
    </ul>
</header>
