<header>
    <a id="logo" href="{{ path('app_home') }}">
        <img src="{{ asset('/img/d20-logo.png') }}" alt="logo">
    </a>
    <ul>
        <li><a title="Voir la liste des personnages" href="{{ path('app_perso') }}">Liste des personnages</a></li>
        <li><a title="Voir la liste de ses personnages" href="{{ path('my_perso') }}">Mes personnages</a></li>
        <li><a title="Créer un personnage" href="{{ path('add_perso') }}">Crée un personnage</a></li>
    </ul>
    <ul>
        {% if app.user %}
            <li id="welcome"><a title="Voir le profil de {{ app.user }}" href="{{ path('info_user', {'id': app.user.id}) }}">Bonjour {{ app.user.pseudo }}</a></li>
            <li><a title="Se déconnecter" href="{{ path('app_logout') }}">Se déconnecter</a></li>
        {% else %}
            <li><a title="S'inscrire" href="{{ path('app_register') }}">S'inscrire</a></li>
            <li><a title="Se connecter" href="{{ path('app_login') }}">Se Connecter</a></li>
        {% endif %}
    </ul>
</header>
