{% extends 'base.html.twig' %}

{% block title %}Créer un Personnage{% endblock %}

{% block body %}
    {{ form_start(formAddPerso) }}
        {{ form_row(formAddPerso.nom) }}
        {{ form_row(formAddPerso.espece) }}
        {{ form_row(formAddPerso.origine) }}
        {{ form_row(formAddPerso.age) }}
        {{ form_row(formAddPerso.sante) }}
        {{ form_row(formAddPerso.santeMax) }}
        {{ form_row(formAddPerso.taille) }}
        {{ form_row(formAddPerso.poids) }}
        {{ form_row(formAddPerso.sex) }}
        <div id="caracteristiquePerso" data-prototype="{{ form_row(formAddPerso.caracteristiquePersos.vars.prototype)|e('html_attr') }}">
            {{ form_row(formAddPerso.caracteristiquePersos) }}
            <span id="spanCarac"></span>
        </div>
        <div id="competencePerso" data-prototype="{{ form_row(formAddPerso.competencePersos.vars.prototype)|e('html_attr') }}">
            {{ form_row(formAddPerso.competencePersos) }}
            <span id="spanComp"></span>
        </div>
    {{ form_end(formAddPerso) }}
    {% if perso.nom != null %}
    <div>
        {{ include('perso/info.html.twig') }}
    </div>
    <div>
        <div>
            <h3>Objets:</h3>
            {{ form_start(formAddObjetOnPerso) }}
            {{ form_end(formAddObjetOnPerso) }}
        </div>
        <div>
            <h3>Ajoutez une caractéristique</h3>
            {{ form_start(formAddCaracteristique) }}
            {{ form_end(formAddCaracteristique) }}
        </div>
        <div>
            <h3>Ajoutez une compétence</h3>
            {{ form_start(formAddCompetence) }}
            {{ form_end(formAddCompetence) }}
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script>
        let collectionCarac, collectionComp, boutonAjoutCarac, boutonAjoutComp, spanCarac, spanComp;
        window.onload = () => {
            collectionCarac = document.querySelector("#caracteristiquePerso");
            //----
            collectionComp = document.querySelector("#competencePerso");

            spanCarac = collectionCarac.querySelector("#spanCarac");
            //----
            spanComp = collectionComp.querySelector("#spanComp");

            boutonAjoutCarac = document.createElement("button");
            boutonAjoutCarac.className = "ajout-caracteristiquePerso"
            boutonAjoutCarac.innerText= "Ajouter une caractéristique";
            //----
            boutonAjoutComp = document.createElement("button");
            boutonAjoutComp.className = "ajout-competencePerso"
            boutonAjoutComp.innerText= "Ajouter une compétence";

            let nouveauBoutonCarac = spanCarac.append(boutonAjoutCarac);
            //----
            let nouveauBoutonComp = spanComp.append(boutonAjoutComp);

            collectionCarac.dataset.index = collectionCarac.querySelectorAll("input").length;
            //----
            collectionComp.dataset.index = collectionComp.querySelectorAll("input").length;

            boutonAjoutCarac.addEventListener("click", function(){
                addButton(collectionCarac, nouveauBoutonCarac, spanCarac, "caractéristique");
            });
            //----
            boutonAjoutComp.addEventListener("click", function(){
                addButton(collectionComp, nouveauBoutonComp, spanComp, "compétence");
            });
        }
        function addButton(collection, nouveauBouton, span, stat){
            let prototype = collection.dataset.prototype;
            let index = collection.dataset.index;
            prototype = prototype.replace(/__name__/g, index);
            let content = document.createElement("html");
            content.innerHTML = prototype;
            let newForm = content.querySelector("div");
            let boutonSuppr = document.createElement("button");
            boutonSuppr.type = "button";
            boutonSuppr.id = "delete-"+ stat + "Perso-" + index;
            boutonSuppr.innerText = "Supprimer la " + stat;

            newForm.append(boutonSuppr);

            collection.dataset.index++;

            let boutonAjout = collection.querySelector(".ajout-" + stat + "Perso");
            span.insertBefore(newForm, boutonAjout);

            boutonSuppr.addEventListener("click", function(){
                this.previousElementSibling.parentElement.remove();
            });
        }
    </script>
{% endblock %}