{% extends 'base.html.twig' %}

{% block title %}
    {% if perso|length > 1 %}
        Personnages
    {% else %}
        Personnage
    {% endif %}
{% endblock %}

{% block header %}
    {{ include('header.html.twig') }}
{% endblock %}

{% block body %}
<div class="persoList">
    {% for perso in perso %}
        {% block listPerso %}
        <div>
            <h2><a title="Afficher la fiche du personnage {{ perso }}" href="{{ path('info_perso', {'id': perso.id}) }}">
                {% if perso.sante == 0 %}
                    <i class="fa-solid fa-skull"></i>
                {% endif %}
                {{ perso|capitalize }}
            </a></h2>
            <div class="editOrFav">
                {% if app.user != perso.user %}
                    <a href="{{ path('info_user', {'id': perso.user.id}) }}">{{ perso.user.pseudo|capitalize }}</a>
                {% endif %}
                {% set FavCheck = 0 %}
                <!-- Si l'utilisateur a une liste de perso favorie -->
                {% if app.user.persoFav %}
                    <!-- On vérifie si le perso est dans cette liste -->
                    {% for persoF in app.user.persoFav %}
                        <!-- Si oui on affiche le bouton pour le Retirer des favoris -->
                        {% if persoF == perso %}
                            <a href="{{ path('removeFav_perso', {'id': perso.id}) }}" title="Retirer des favoris"><i class="fa-solid fa-star"></i></a>
                            <!-- On enregistre le fait qu'il soit en favoris -->
                            {% set FavCheck = 1 %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <!-- Si le Perso n'est pas dans la liste des Favoris, on affiche le bouton "Ajoutez au favoris" -->
                {% if FavCheck == 0 %}
                    <a href="{{ path('addToFav_perso', {'id': perso.id}) }}" title="Ajoutez au favoris"><i class="fa-regular fa-star"></i></a>
                {% endif %}
                {% if app.user == perso.user %}
                    <a href="{{ path('edit_perso', {'id': perso.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a href="{{ path('delete_perso', {'id': perso.id}) }}"><i class="fa-solid fa-trash"></i></a>
                {% endif %}
            </div>
            <div>
                <!-- Liste des caractéristiques -->
                <div>
                    <h3>Carac</h3>
                    <!-- affiche les 3 première entité du tableau -->
                    {% for carac in perso.caracteristiquePersos | slice(0,3) %}
                        <div>
                            <p title="{{ carac.caracteristique }}">{{ carac.caracteristique| slice(0,9) }}</p>
                            <p>{{ carac.valeur }}</p>
                        </div>
                    {% endfor %}
                    <!-- si le tableau comporte + de 4 entité on affiche un paragraphe contenant "..." avec la liste des caractéristiques manquante en title de ce dernier -->
                    {% if perso.caracteristiquePersos|length > 4 %}
                        <div>
                            <p title="{% for carac in perso.caracteristiquePersos | slice(3) %}{{carac.caracteristique ~ " " ~ carac.valeur ~ "\n" }}{% endfor %}">...</p>
                        </div>
                    <!-- sinon -->
                    {% else %}
                        <!-- si le tableau comporte exactement 4 entité on affiche cette dernière -->
                        {% if perso.caracteristiquePersos|length == 4 %}
                        <div>
                            <p title="{{ perso.caracteristiquePersos[3].caracteristique }}">{{ perso.caracteristiquePersos[3].caracteristique| slice(0,3) }}</p>
                            <p>{{ perso.caracteristiquePersos[3].valeur }}</p>
                        </div> 
                        {% endif %}      
                    {% endif %}
                </div>
                <!-- Liste des compétences -->
                <div>
                    <h3>Comp</h3>
                    <!-- affiche les 3 première entité du tableau -->
                    {% for comp in perso.competencePersos| slice(0,3) %}
                        <div>
                            <p>{{ comp.competence}}</p>
                            <p>{{ comp.valeur }}</p>
                        </div>
                    {% endfor %}
                    <!-- si le tableau comporte + de 4 entité on affiche un paragraphe contenant "..." avec la liste des compétences manquante en title de ce dernier -->
                    {% if perso.competencePersos|length > 4 %}
                        <div>
                            <p title="{% for comp in perso.competencePersos | slice(3) %}{{comp.competence ~ " " ~ comp.valeur ~ "\n" }}{% endfor %}">...</p>
                        </div>
                    <!-- sinon -->
                    {% else %}
                        <!-- si le tableau comporte exactement 4 entité on affiche cette dernière -->
                        {% if perso.competencePersos|length == 4 %}
                            <div>
                                <p title="{{ perso.competencePersos[3].competence}}">{{ perso.competencePersos[3].competence| slice(0,5) }}...</p>
                                <p>{{ perso.competencePersos[3].competence}}</p>
                                <p>{{ comp.valeur }}</p>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
                <!-- Liste des objets -->
                <div>
                    <h3>Objet</h3>
                    <!-- affiche les 3 première entité du tableau -->
                    {% for inventaire in perso.inventaires | slice(0,3)%}
                    <div>
                        <!-- Si le nom comporte plus de 6 caractère -->
                        {% if inventaire.objets.nom|length > 6 %}
                            <p title="{{ inventaire.objets.nom ~ " Dégats: x" ~ inventaire.objets.valeur }}">{{ inventaire.objets.nom| slice(0,6) }}...</p>
                        {% else %}
                            <p title="{{ inventaire.objets.nom ~ " Dégats: x" ~ inventaire.objets.valeur }}">{{ inventaire.objets.nom }}</p>
                        {% endif %}
                        <p>{{ inventaire.quantite }}</p>
                    </div>
                    {% endfor %}
                    <!-- si le tableau comporte + de 4 entité on affiche un paragraphe contenant "..." avec la liste des objets manquant en title de ce dernier -->
                    {% if perso.inventaires |length > 4 %}
                        <div>
                            <p title="{% for inventaire in perso.inventaire | slice(3) %}{{inventaire.objet.nom ~ " x" ~ inventaire.quantite ~ "\n" }}{% endfor %}">...</p>
                        </div>
                    <!-- sinon -->
                    {% else %}
                        <!-- si le tableau comporte exactement 4 entité on affiche cette dernière -->
                        {% if perso.inventaires |length == 4 %}
                            <div>
                                <!-- Si le nom comporte plus de 6 caractère -->
                                {% if perso.inventaires[3].objets.nom|length > 6 %}
                                    <p title="{{ perso.inventaires[3].objets }}">{{ perso.inventaires[3].objets| slice(0,6) }}...</p>
                                {% else %}
                                    <p>{{ perso.inventaires[3].objets }}</p>
                                {% endif %}
                                <p>{{ perso.inventaires[3].quantite }}</p>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% endblock %}
    {% endfor %}
</div>
{% if persoFav|length > 0 %}
    <h3>Favoris</h3>
    <div class="persoList">
        {% for perso in persoFav %}
        {{ block("listPerso", "perso/index.html.twig") }}
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}
{% block footer %}
    {{ include('footer.html.twig') }} 
{% endblock %}