{% extends 'base.html.twig' %}

{% block title %}info Personnage{% endblock %}

{% block body %}
<h2>Info Personnage</h2>
<div id="resumePerso">
    <h3>{{ perso.nom }}</h3><a href="{{ path('edit_perso', {'id': perso.id}) }}">Édité</a>
    {% set FavCheck = 0 %}
    {% if app.user.persoFav %}
        {% for persoF in app.user.persoFav %}
            {% if persoF == perso %}
                <a href="{{ path('removeFav_perso', {'id': perso.id}) }}" title="Retirer des favoris"><i class="fa-solid fa-star"></i></a>
                {% set FavCheck = 1 %}
            {% else %}
                {% set FavCheck = 0 %}
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if FavCheck == 0 %}
        <a href="{{ path('addToFav_perso', {'id': perso.id}) }}" title="Ajoutez au favoris"><i class="fa-regular fa-star"></i></a>
    {% endif %}

    <div>
        {% if perso.caracteristiquePersos|length >1 %}
            <p>Caractéristiques:</p>
        {% else %}
            <p>Caractéristique:</p>
        {% endif %}

        {% for caracteristiquePerso in perso.caracteristiquePersos %}
            <div>
                <p>{{ caracteristiquePerso.valeur ~ " " ~ caracteristiquePerso.caracteristique|capitalize }}</p>
            </div>
        {% endfor %}
    </div>

    <br>

    <div>
        {% if perso.competencePersos|length >1 %}
            <p>Compétences:</p>
        {% else %}
            <p>Compétence:</p>
        {% endif %}
        
        {% for competencePerso in perso.competencePersos %}
            <div>
                <p>{{ competencePerso.valeur ~ " " ~ competencePerso.competence|capitalize }}</p>
            </div>
        {% endfor %}
    </div>

    <br>

    <div>
    {% if perso.objets|length >1 %}
        <p>Objets:</p>
    {% else %}
        <p>Objet:</p>
    {% endif %}
    
    {% for objet in perso.objets %}
        <div>
            <p>{{ objet.nom|capitalize }}</p>
            <p>{{"Dégats: " ~ objet.valeur }}</p>
        </div>
    {% endfor %}
    </div>
    <div>
        {% for commentaire in perso.commentaires %}
            <div class="commentaire">
                <p class="user">{{ commentaire.user.email }}</p>
                <p>{{ commentaire.contenu }}</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
