{% extends 'base.html.twig' %}

{% block title %}info Personnage{% endblock %}

{% block body %}
<h2>Info Personnage</h2>
<div id="resumePerso">
    <h3>{{ perso.nom|capitalize }}</h3>

    <div class="editOrFav">
        <a href="{{ path('edit_perso', {'id': perso.id}) }}" title="Édité le personnage"><i class="fa-solid fa-pen-to-square"></i></a>
        {% set FavCheck = 0 %}
        <!-- Si l'utilisateur a une liste de perso favorie -->
        {% if app.user.persoFav %}
            <!-- On vérifie si le perso est dans cette liste -->
            {% for persoF in app.user.persoFav %}
                <!-- Si oui on affiche le bouton pour le Retirer des favoris -->
                {% if persoF == perso %}
                    <a href="{{ path('removeFav_perso', {'id': perso.id}) }}" title="Retirer des favoris"><i class="fa-solid fa-star"></i></a>
                    <!-- On enregistre le fait qu'il soit en favoris -->
                    {% set FavCheck = 1 %}
                {% endif %}
            {% endfor %}
        {% endif %}
        <!-- Si le Perso n'est pas dans la liste des Favoris, on affiche le bouton "Ajoutez au favoris" -->
        {% if FavCheck == 0 %}
            <a href="{{ path('addToFav_perso', {'id': perso.id}) }}" title="Ajoutez au favoris"><i class="fa-regular fa-star"></i></a>
        {% endif %}
    </div>

    {% set percentHealt = (100 - (perso.sante / perso.santeMax)*100) ~ "%" %}
    <style>
        /*  */
        .healtBar>i:first-child:after {
            height: {{ percentHealt }};
        }
    </style>
    <div class="healtBar">
        <i class="fa-solid fa-heart"></i>
        <i class="fa-regular fa-heart"></i>
        <p>{{ perso.sante }}</p>
        <p>{{ perso.santeMax }}</p>
    </div>

    <div>
        <!-- Si la liste des Caractéristique est supérieur à 1 ajoute un "s" -->
        {% if perso.caracteristiquePersos|length >1 %}
            <p>Caractéristiques:</p>
        {% else %}
            <p>Caractéristique:</p>
        {% endif %}
        <!-- Liste les Caractéristiques -->
        {% for caracteristiquePerso in perso.caracteristiquePersos %}
            <div>
                <p>{{ caracteristiquePerso.valeur ~ " " ~ caracteristiquePerso.caracteristique|capitalize }}</p>
            </div>
        {% endfor %}
    </div>

    <div>
        <!-- Si la liste des Compétences est supérieur à 1 ajoute un "s" -->
        {% if perso.competencePersos|length >1 %}
            <p>Compétences:</p>
        {% else %}
            <p>Compétence:</p>
        {% endif %}
        <!-- Liste les Compétence -->
        {% for competencePerso in perso.competencePersos %}
            <div>
                <p>{{ competencePerso.valeur ~ " " ~ competencePerso.competence|capitalize }}</p>
            </div>
        {% endfor %}
    </div>

    <div>
        <!-- Si la liste des Objets est supérieur à 1 ajoute un "s" -->
        {% if perso.inventaires|length >1 %}
            <p>Objets:</p>
        {% else %}
            <p>Objet:</p>
        {% endif %}
        <!-- Liste les Objets -->
        {% for objet in perso.inventaires %}
            <div>
                <p>{{ objet.objets.nom|capitalize }}</p>
                <p>{{"Dégats: " ~ objet.objets.valeur }}</p>
                <p>{{"Quantité: " ~ objet.quantite }}</p>
            </div>
    {% endfor %}
    </div>
    <div>
        {% if perso.commentaires %}
            {% for commentaire in perso.commentaires|sort((a, b) => a.createdAt <=> b.createdAt) %}
                <div class="commentaire">
                    <div>
                        <p>Envoyé le {{ commentaire.createdAt|date("d/m/Y à h:m") }}</p>
                        <a href="{{ path('removeComment_perso', {'id': commentaire.id}) }}" title="Supprimer le commentaire"><i class="fa-solid fa-circle-xmark"></i></a>
                    </div>
                    <a class="user" href="{{ path('info_user', {'id': commentaire.user.id}) }}">{{ commentaire.user.pseudo }}</a>
                    <p>{{ commentaire.contenu|nl2br }}</p>
                </div>
            {% endfor %}
        {% endif %}
        {{ form_start(commentForm, {'attr': {'class': 'commentForm'}}) }}
        {{ form_end(commentForm) }}
    </div>
</div>
{% endblock %}
