{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block header %}
    {{ include('header.html.twig') }}
{% endblock %}

{% block body %}
<div class="persoList">
    {% for user in users %}
    <div>
        <h2>
            {% if is_granted('ROLE_ADMIN') %}
            <div class="admin">
                {% for role in user.roles %}
                <p style="color: white;">{{ role }}</p>
                {% endfor %}
                {% if app.user != user %}
                    <a href="{{ path('give_role_user_admin', {'id': user.id}) }}">Donnez le rôle admin</a>
                    <!-- Si l'utilisateur est banni -->
                    {% if 'ROLE_BAN' in user.roles %}
                        <a href="{{ path('unban_user', {'id': user.id}) }}" title="Débannir l'utilisateur"><i class="fa-solid fa-circle-check"></i></a>
                    <!-- Sinon -->
                    {% else %}
                        <a href="{{ path('ban_user', {'id': user.id}) }}" title="Bannir l'utilisateur"><i class="fa-solid fa-ban"></i></a>
                    {% endif %}
                {% endif %}
            </div>
            {% endif %}
            <a title="Afficher le profile de  {{ user.pseudo }}" href="{{ path('info_user', {'id': user.id}) }}">
                {{ user|capitalize }}
            </a>
        </h2>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block footer %}
    {{ include('footer.html.twig') }} 
{% endblock %}