{% extends 'base.html.twig' %}

{% block title %}info de l'utilisateur {{ user }}{% endblock %}

{% block header %}
    {{ include('header.html.twig') }}
{% endblock %}

{% block body %}
    <div id="infoUser">
        <div>
            <div class="pseudoUser">
                <p>{{ user.pseudo }}</p>
                {% if app.user == user or is_granted("ROLE_ADMIN") %}
                    <a href="{{ path('modifiy_user_pseudo', {'id': user.id}) }}">Modifier le pseudo</a>
                {% endif %}
            </div>
            <div>
                {% if app.user == user %}
                    <p>{{ user.email }}</p>
                    {# <a href="{{ path('modify_user_email', {'id': user.id}) }}">Modifier l'email</a> #}
                {% endif %}
            </div>
            {% if app.user == user %}
                <div>
                    {# <a href="{{ path('modify_user_password', {'id': user.id}) }}">Modifier le Mot de passe</a> #}
                </div>
            {% endif %}
        </div>
        <h3>
            <!-- Si le personnage appartient à l'utilisateur connecter -->
            {% if app.user == user %}
                <!-- Si le nombre de personnage est supérieur à 1 -->
                {% if app.user.persos|length > 1 %}
                    Vos personnages
                <!-- Sinon -->
                {% else %}
                    Votre personnage
                {% endif %}  
            <!-- Si le personnage n'appartient pas à l'utilisateur connecter -->              
            {% else %}
                <!-- Si le nombre de personnage est supérieur à 1 -->
                {% if user.persos|length > 1 %}
                    Personnages
                <!-- Sinon -->
                {% else %}
                    Personnage
                {% endif %}
                de {{ user.pseudo }} 
            {% endif %}
        </h3>
        {{ block("body", "perso/index.html.twig") }}
    </div>
{% endblock %}

{% block footer %}
    {{ include('footer.html.twig') }} 
{% endblock %}