{% extends 'base.html.twig' %}

{% block title %}info de l'utilisateur {{ user }}{% endblock %}

{% block header %}
    {{ include('header.html.twig') }}
{% endblock %}

{% block body %}
    <div id="infoUser">
        <h3>Personnage de {{ user.pseudo }} </h3>
        {{ block("body", "perso/index.html.twig") }}
    </div>
{% endblock %}

{% block footer %}
    {{ include('footer.html.twig') }} 
{% endblock %}