{% extends 'base.html.twig' %}

{% block title %}Changement de mot de passe de {{ app.user.pseudo }}{% endblock %}

{% block header %}
    {{ include('header.html.twig') }}
{% endblock %}

{% block body %}
    <h1>Modifier le pseudo</h1>
    <div class="userForm">
        {% if modifyPseudoUserForm %}
        <!-- Modifier son Pseudo -->
            {{ form_errors(modifyPseudoUserForm) }}
            {{ form_start(modifyPseudoUserForm) }}
                {{ form_row(modifyPseudoUserForm.pseudo, { 'attr': {'value': user.pseudo } }) }}
            {{ form_end(modifyPseudoUserForm) }}     
        {% endif %}
        {% if modifyPasswordUserForm %}
        <!-- Modifier son Mot de passe -->
            {{ form_errors(modifyPasswordUserForm) }}
            {{ form_start(modifyPasswordUserForm) }}
                {{ form_row(modifyPasswordUserForm.currentPassword) }}
                {{ form_row(modifyPasswordUserForm.password) }}
            {{ form_end(modifyPasswordUserForm) }}     
        {% endif %}
    </div>
{% endblock %}
{% block footer %}
    {{ include('footer.html.twig') }} 
{% endblock %}